.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
    align-items: center;
    margin-left: 500px;
  }
  
  th,
  td {

    padding: 10px;
    text-align: center;
    border: 1px solid #444;
  }
  
  th {
    background-color:rgb(204, 0, 255);
    color: #fff;
  }
  
  td:nth-child(odd) {
    background-color:  rgb(0, 183, 255);
  }
  
  td:nth-child(even) {
    background-color: rgb(0, 162, 255);
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  h2 {
    color: #6C63FF;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  select {
    border: none;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #F3F3F3;
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type="text"]:focus,
  select:focus {
    outline: none;
    box-shadow: 0 0 4px #6C63FF;
  }
  
  button[type="submit"] {
    background-color: #6C63FF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #5248CC;
  }
  button {
    background-color: #5e4caf;
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #3E8E41;
  }
  
  