
.title {
  margin-left: 330px;
  margin-top: 25px;
  font-size: 45px;
  align-items: center;
  display: flex;
  justify-content: center;
  }

.dashboard {
    margin-left: 200px;
   
    display: flex;
    justify-content: space-around;
  }



  
  .left {
    width: 300px;
    padding: 10px;
    -webkit-box-shadow: 4px 5px 11px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 5px 11px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 5px 11px -6px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    text-align: center;
    background-color: #25bed0;
    color: white;
  }
  
  .right {
    width: 300px;
    padding: 10px;
    -webkit-box-shadow: 4px 5px 11px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 5px 11px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 5px 11px -6px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    text-align: center;
    background-color: #f7941d;
    color: white;
    margin-right: 40px;
  }
  