.box {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: #95e0fd;
    margin-bottom: 50px;
  }
  /* .logo{
      flex: 8;
      margin-right: 250px;
      color:white;
      text-size-adjust: 30px;
      
  
  }
  
  /* .NavBarcenter{
      flex:6;
  } */
  /* 
  .navbarlinks{
      flex: 2;
      color:white;
      text-size-adjust: 50px;
      margin-left: 200px;
     
      
  } */
  
  .title {
    margin-left: 250px;
    font-size: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  